.box{
    border: 2px solid black;
    padding: 20px;
    box-shadow: inset -9px 1px 15px 5px #b90909;
    outline: 2px solid greenyellow;
    outline-offset: 10px;

}

.para{
    text-shadow: 2px 2px 4px #d21313; 
}