.border {
    border: 2px solid white;
    margin: 2px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

 .bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666; /* Color of the scrollbar handle on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Color of the scrollbar track */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: #222; /* Color of the scrollbar corner (where two scrollbars meet) */
  }
  