@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kay+Pho+Du:wght@700&family=Martel+Sans:wght@600;700;900&family=Poppins:ital,wght@0,700;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body{
    background-color: black;
}


.main {
    background-image: url("Assets/Images /bg.jpeg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}


.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}


nav {

    color: white;
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    padding: 7px;
    border-radius: 5px;
}

.b1{
    color: white;
    background-color: rgba(88, 61, 61, 0.021);
    padding: 7px 25px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}

.b2{
    background-color: red;
    color: white;
    padding: 7px 25px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid white;
    
}

.gs{
    background-color: red;
    color: white;
    padding: 10px 35px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.content {  
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;

}

.content> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.content> :nth-child(2){
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.content> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(41, 36, 36);
    
}

.main input{
    padding: 7px 100px 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(107, 96, 96, 0.5);;
    color: white;
}

.content-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    height: 70vh;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
   
}

.secImg{
    position: relative;
}

.secImg img{
    position: relative;
    z-index: 10;
    width: 30vw
}

.secImg video{
    position: absolute;
    top: 68px;
    right: 60px;
}

section.first > div :first-child{
    display: flex;
    flex-direction: column;
}

section.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}

.third video{
    position: absolute;
    top: 40px;
    right: 80px
}

.faq{
    color: white;
    background: black;
    padding: 35px;
}

.faq h2{
    text-align: center;
    font-size: 45px;
}


.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: #414141;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

.faqbox:hover{
       background-color: #2d2d2d;    
       color: white;
}

.faqbox svg{
    filter: invert(1);
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 25px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

footer a{
    color: white;
    font-size: 14px;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


