

.container{
     border: 2px solid black;
     display: grid;
     grid-template-columns: 120px 100px;
     grid-template-rows: 100px 100px 100px;
}


.item{
    border: 2px solid blue;
    height: 55px;
    width: 55px;
}

.item-1{
    grid-row: 1/2;                    /* 1 represents grid-row starting point & 2 represents grid-row end point. */
    grid-column: 1/2;                 /* 1 represents grid-column starting point & 2 represents grid-column end point. */
}

.item-4{
    grid-row: 1/2;
    grid-column: 1/2;
}