

.container{
     border: 2px solid black;
     display: grid;
     grid-template-columns: 120px 100px;
     grid-template-rows: 100px 100px 100px;
}


.item{
    border: 2px solid blue;
    height: 55px;
    width: 55px;
}

.item-1{
    grid-row: 1/2;                    /* 1 represents grid-row starting line point & 2 represents grid-row end line point. */
    grid-column: 1/2;                  /* 1 represents grid-column starting line point & 2 represents grid-column end line point. */
}

.item-4{
    grid-row: 1/2;
    grid-column: 1/2;
}