

.container{
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"                      /* How many sections you want to combine. */
                         "side article article"
                         "footer footer footer";
}


.item{
   border: 2px solid rgb(255, 81, 0);
   height: 55px;
}


.item-1{
    grid-area: nav;
    background-color: aqua;
}


.item-2{
    grid-area: side;
    background-color: yellowgreen;
}


.item-3{
    grid-area: article;
    background-color: beige;
}


.item-4{
    grid-area: footer;
    background-color: blanchedalmond;
}


.item-5{
    background-color: chartreuse;
}



