
 /*  Specificity Order & Values:  Inline - 1000 -> ID - 100 -> Class or Attribute - 10 -> Element - 1 -> Universal - 0  */

h1{
    color: blue;         
}
                         
.yellew{
    color: yellow;
}

.purple{
    color: purple;     
}

.pink{
    color: pink;     /*  If the selectors of an element are of same type, the last declaration will reflect the change.  */
}

