

@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@700&family=Poppins:ital,wght@1,100&display=swap');

h1{
    text-align: center;
}

p {
    font-family: 'Kay Pho Du', serif;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 2;
    letter-spacing: 2px;
}

h2{
    text-transform: uppercase;
    text-align: center;
    
}