

nav{
  display: flex;
  gap: 40px;
  background-color: rgb(0, 0, 0);
  /* padding: 20px; */
}

nav a{
  text-decoration: none;
}

li{
 list-style: none;
 color: white;
 padding: 25px;
 font-size: 20px;
}



*{
  margin: 0;
  padding: 0;
}

.red{
  background-color: red;
  color: white;
}