
 *{
    margin: 0;
    padding: 0;
 }

 .span{
    box-sizing: border-box;
    border: 2px solid black;
    width: 80vw;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    display: block;
 }

.box{
    box-sizing: border-box;
    border: 2px solid black;
    width: 80vw;
    background-color: aquamarine;
    margin: auto;
    height: 10vh;
    text-align: center;
}

.container{
    box-sizing: border-box;
    border: 5px solid black;
    width: 80vw;
    background-color: aquamarine;
    margin: 25px auto;
    text-align: center;
    height: 50vh;
}