
/*  em - Relative to the font size of the parent element. Eg: 5em means the size would be 5 times the current font size. According to Parent Element.  */ 

/*  rem - Relative to the font size of the root element. According to Root Element.  */

 *{
    margin: 0;
    padding: 0;
 }

 .span{
    box-sizing: border-box;
    border: 2px solid black;
    width: 80vw;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    display: block;
 }

.box{
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 80vw; */
    background-color: aquamarine;
    margin: auto;
    height: 10vh;
    text-align: center;
    width: 50%;
}

.container{
    box-sizing: border-box;
    border: 5px solid black;
    width: 90vw;
    background-color: aquamarine;
    margin: 25px auto;
    min-height: 50vh;
    text-align: center;
    
}

